.hl {
 font-size: 30px;
 text-transform: uppercase;
}

ul {
    list-style: none;
}

body {
    background-color: rgb(206, 206, 206);
}

p::first-letter {
    text-transform: uppercase;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#primary-list {
    list-style: none;
}

.tabela {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(218, 218, 218);
    padding: 10px;
}

.tabela div {
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(0, 0, 0); 
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.formtv {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    display: block;
    margin-bottom: 10px;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 60%;
    background-color: aliceblue;
}

.mainp {
    display: block;
    text-align: center;
    justify-content: center;
}